name: RPS

on:
  issues:
    types: [opened]

jobs:
  rps-main:
    runs-on: ubuntu-latest
    if: startsWith(github.event.issue.title, 'rps|')
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - uses: actions/cache@v2
        name: Configure pip caching
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install Python dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Running Main File
        env:
          REPO: ${{github.repository}}
          ISSUE_NUMBER: ${{github.event.issue.number}}
          TOKEN: ${{github.token}}
        run: python main.py
